BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
AlignEscapedNewlines: DontAlign
SkipMacroDefinitionBody: true
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 2
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true
BinPackArguments: false
AllowShortBlocksOnASingleLine: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: true
  BeforeElse: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterTemplateKeyword: false
SortIncludes: true
Standard: Latest
